@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
PALETA DE CORES
    CINZA: #1F1E1E
    AZUL: #5D84C2
    VERDE: #51BDAB
    ROXO: #7463C7
    AMARELO: #FFCA6D
*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    border-bottom: 0.2vh solid #1F1E1E;
}

.header a{
    color: #1F1E1E;
    font-size: 1.4rem;
    text-decoration: none;
}

.btn-login{
    width: 11vw;
    height: 6vh;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    border: 0;
    background-color: #5D84C2;
    border-radius: 2vw;
    transition-duration: 0.3s;
}

.btn-login:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: #FFCA6D;
}

.banner{
    display: flex;
    width: 100%;
    height: 80vh;
}

.banner-text{
    padding: 6vw;
    padding-left: 9vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.banner-image{
    display: flex;
    width: 20vw;
    padding: 6vh;
}

.banner-image img{
    width: 55vw;
    height: 55vh;
}


.banner-text h1{
    color: #7463C7;
    font-weight: 600;
    font-size: 2.4rem;
}

.banner-text h2{
    color: #1F1E1E;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 8vh;
}

.btn-cadastro{
    width: 18vw;
    height: 7vh;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1F1E1E;
    border: 0;
    background-color: #FFCA6D;
    border-radius: 2vw;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-cadastro:hover{
    color: #1F1E1E;
    border: 0;
    background-color: #ffb83d;
}

.banner-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-icons .icons{
    width: 60vw;
    justify-content: space-evenly;
    display: flex;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1F1E1E;
    font-size: 1rem;
    font-weight: 400;
}

.banner-radio{
    padding: 4vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.banner-radio input{
    top: 0;
    left: 0;
    height: 2vh;
    width: 2vw;
}

.metodologias{
    background-color: #1F1E1E;
    height: 150vh;
}

.metodologias-text {
    display: flex;
    flex-direction: column;
    padding: 7vw;
    padding-left: 9vw;
    height: 28vh;
}

.metodologias-text h1{
    color: white;
    font-weight: 600;
    font-size: 4rem;
    margin: 2vh;
}

.metodologias-text h2{
    color: white;
    width: 50vw;
    margin: 2vh;
    font-weight: 300;
    font-size: 1.5rem;
}

.cards-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1F1E1E;
    justify-content: space-evenly;
}

.cards{
    display: flex;
    width: 86vw;
    justify-content: space-around;
}

.metodologias h3{
    color: #5D84C2;
    font-size: 1.4rem;
}

.metodologias h4{
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
}

.bigger-card{
    background-image: url("/node-js/public/assets/card-matriz.png");
    background-size: cover;
    width: 40vw;
    height: 55vh;
    border-radius: 25px;
}

.card img{
    position: absolute;
}

.card{
    background-image: url("/node-js/public/assets/bg-card.png");
    background-size: cover;
    width: 41.5vw;
    height: 25.6vh;
    border-radius: 25px;
}

.bottom-card{
    background-image: url("/node-js/public/assets/card-progresso.png");
    background-size: cover;
    width: 83vw;
    margin-top: 5vh;
    height: 23vh;
    border-radius: 25px;
}

.card-pomodoro{
    background-image: url("/node-js/public/assets/card-pomodoro.png");
}

.small-cards{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 55vh;
}